
/* 1. Element Selector */
/* 1. Use element to apply css
2. Applied to all elements */
/* h1{
    color: red;
} */

/* 2. ID Selector
1. Uses ID to apply element.
2. Applies to only one element. */
#headerSignup{
    color: red; 
}

/* 3. Class Selector */
/* 1. Uses custom names called as css class
2. Uses . as prefix */
.div-bg{
    color: darkslategrey;
    background-color: yellow !important;
}

.div-bg-blue{
    background-color: blue;
}

/* Priority */
/* Important
Inline
CSS in external file order (bottom has higher than top) */

.signup-form{
    border: 1px solid lightgray;
    padding: 24px 12px;
    margin: 24px 12px;
    width: 700px;
    height: 500px;
    /* border-width: 1px;
    border-style: solid;
    border-color: lightcyan; */
    color: darkslategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

.form-group{
    padding: 4px;
    margin: 6px;
}

a{
    text-decoration: none;
}

.form-control{
    width: 200px;
    height: 28px;
}